.product-page {
    &.colors-check-group {
        display: flex;
        align-items: center;
        gap: 5px;
        .color {
            position: relative;
            width: 35px;
            height: 35px;
            padding: 2px;
            border-radius: 50%;
            cursor: pointer;
        }
        .icon {
            font-size: 1.5rem;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%; left: 50%;
            color: black;
        }
    }
}

