.panelorders-page {
    .orders-table-modal {
        .delivery-actions {
            width: 100%;
            background-color: rgb(133, 85, 15);
            margin-top: 20px; margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}