.panelorders-page {
    .orders-table-modal {
        .modal-order-details {
            direction: rtl;
            min-width: 700px;

            .delivery-actions {
                margin-top: 20px; margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .orders-table {
        .view-orders-cell {
            cursor: pointer;
            color: rgb(49, 139, 190);
        }
    }
}