.panelorders-page {
    .orders-table-modal {
        .modal-order-details {
            direction: rtl;
            min-width: 700px;
        }
    }
    .orders-table {
        .view-orders-cell {
            cursor: pointer;
            color: rgb(49, 139, 190);
        }
    }
}