@import './../../assets/styles/mixins';

.home-page {

  .landing-view {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    @include respond('tablet') {
      min-height: 70vh;
      padding: 0;
    }
    animation-name: gradientAnimation;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background: linear-gradient(226deg, #7d1eb0, #5fabf5, #e24586, #7cc3d3);
    background-size: 1000% 1000%;
    // animation-direction: alternate;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    #svg1 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  
  .spline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: splineAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    .spline-macbook {
      cursor: grab;
    }
  }
  
  .main-category {
  
    .title {
      direction: rtl;
      cursor: pointer;
    }
  
  }
}
@keyframes splineAnimation {
  from {
    top: 20px;
  }
  to {
    top: -15px;
  }
}

@keyframes gradientAnimation {
  0%{background-position:0% 74%}
  50%{background-position:100% 27%}
  100%{background-position:0% 74%}
}