.home-layout-header {
    padding: 0 40px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(100px);
    color: white;
    min-height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
        .admin-entrance, .basket-entrance {
            background-color: rgb(231, 38, 64);
        }
    }

    .navbar-items {
        direction: rtl;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        list-style-type: none;

        li {
            cursor: pointer;
        }
    }

    .logo {
        width: 180px;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}