.basket-page {
    .basket-table {
        min-height: 90vh;
        padding: 20px;
        direction: rtl;
        .deleted-products-msg {
            margin: 0;
        }
        .basket-table-cell {
            position: relative;
            display: flex;
            justify-content: flex-start;
            
            .info {
                position: relative;
                flex-basis: 50%;
                display: flex;
                justify-content: flex-start;
                .thumbnail {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }
            .price {
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .warning-msg {
                position: absolute;
                left: 20px;
                top: 0;
                label {
                    border: 1px solid black;
                    padding: 5px;
                }
            }
        }
    }
}